/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #009639; /* Зеленый цвет Сбербанка */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 28px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}

th {
    background-color: #009639; /* Зеленый цвет */
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #009639; /* Зеленый цвет */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    margin: 2px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

button:hover {
    background-color: #007a31; /* Более темный зеленый при наведении */
}

.footer {
    background-color: #333333; /* Черный цвет */
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
