<!-- src/main/resources/templates/add-generator.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить генератор</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Добавить/Редактировать генератор</h1>
<nav>
    <a href="/">Главная</a> |
    <a href="/generators">Список генераторов</a>
</nav>
<form th:action="@{/generators/add}" th:object="${generator}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div>
        <label>Имя:</label>
        <input type="text" th:field="*{name}" required />
    </div>
    <div>
        <label>Адрес:</label>
        <input type="text" th:field="*{address}" required />
    </div>
    <div>
        <label>Пользователь:</label>
        <input type="text" th:field="*{username}" required />
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" th:field="*{password}" required />
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>
</body>
</html>
