<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сменить пароль</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Сменить пароль для генератора "<span th:text="${generator.name}">Generator Name</span>"</h1>
<form th:action="@{/changePassword}" method="post" th:object="${generator}">
    <input type="hidden" th:field="*{id}">
    <label for="password">Новый пароль:</label><br>
    <input type="password" id="password" th:field="*{password}" required><br><br>

    <button type="submit">Сменить пароль</button>
</form>
</body>
</html>
