<!-- src/main/resources/templates/generators.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управление генераторами</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Список генераторов</h1>
<nav>
    <a href="/">Главная</a> |
    <a href="/generators/add">Добавить генератор</a>
</nav>
<table>
    <tr>
        <th>Имя</th>
        <th>Адрес</th>
        <th>Пользователь</th>
        <th>Действия</th>
    </tr>
    <th:block th:each="gen : ${generators}">
        <tr>
            <td th:text="${gen.name}">Name</td>
            <td th:text="${gen.address}">Address</td>
            <td th:text="${gen.username}">Username</td>
            <td>
                <a th:href="@{'/generators/edit/' + ${gen.id}}">Редактировать</a> |
                <a th:href="@{'/generators/delete/' + ${gen.id}}">Удалить</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>
